.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.map-container {
  flex: 3;
  overflow: auto;
  position: relative;
  background-color: #ececec;
}

.sidebar {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.log {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 0.9em;
}

.action-panel {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.stats span {
    margin: 0 10px;
    font-size: 0.8em;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ff5533;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #e42200;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Welcome Screen Styles */
.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    overflow: hidden;
}

.country-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.country-dropdown {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

.selected-country-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #3a3f4b;
    border-radius: 8px;
    text-align: center;
}
